

.about-page{
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .head-part{
        font-family: 'Raleway',sans-serif;

        //margin-bottom: 50px;
        h1{
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 600;
            color:#741aac;
            margin-bottom: 15px;

            span{
                color: antiquewhite;
            }
        }
        h3{
         color: azure;
         font-style: italic;
         font-size: 1.2rem;
         text-transform:lowercase;
         margin-bottom: 15px;
        }
    }

    .image-part{
        margin-bottom: 20px;
        .image{
            width: 350px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            border-radius:32% 68% 22% 78% / 56% 34% 66% 44% ;
            border: 5px solid #741aac;
            padding: 30px;
            animation: about2 5s ease 0s infinite normal running;


            // border-left: none;
            // border-right: none;
            transition: all 2s ease;
            transform: scale(1);
            
            img{

                width: 100%;
                // border-radius: 0 70px 0 70px;
                 border-radius:67% 33% 57% 43% / 55% 64% 36% 45% ;
                 //box-shadow: 10px 30px 20px #eee;

                 

                 border: 5px solid #741aac;
                //  border-left: none;
                //  border-right: none;
                 transition: all 2s ease;
                animation: about 5s ease 0s infinite normal running;

                 
                 &:hover{
                    transition: all 2s;
                    transform: scale(1.1);
                    filter: brightness(50%);
                    }
                }
                
                
        }
    }

    @keyframes about {
        0% {
                transform: rotate(0deg) translate(-3px,-3px)
        }

        50% {
                transform: rotate(0deg) translate(2px,2px)
        }

        to {
                transform: rotate(0deg) translate(-3px,-3px)
        }
        
    }

    @keyframes about2 {
        0% {
                transform: rotate(2deg) translate(2px,2px)
        }

        50% {
                transform: rotate(-2deg) translate(-2px,-2px)
        }

        to {
                transform: rotate(2deg) translate(2px,2px)
        }
        
    }


    .right-part{
        backdrop-filter:blur(30px);
        padding: 5px;
        color: white;
        
       

        .list-one,.list-two{
            ul{
                list-style: none;
                font-size: 1rem;
                padding: 0;
                
                
                li{
                    
                    
                        padding-bottom: 20px;
                        font-family: 'Raleway',sans-serif;
                     span{
                        color: #741aac;
                        margin-right: 5px;
                        font-weight: 600;


 


                     

                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }






            }
        }
        
    }
    .cv{
        border: 2px solid #741aac;
        display: inline-flex;
        border-radius: 30px;
        padding: 15px 30px;
        transition: all 2s;

        &:hover{
            background-color: #741aac;
            transition: all 2s;
        }

        a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;

            

            i{
                margin-right: 5px;

            }
        }
    }
}