@import './header';
@import './contact';
@import './home';
@import './about';
@import './portfolio';

.active{
    color:#e211bf !important;
}

.main-content{
    position: relative;
    z-index: 1111;
    width: 100% !important;
    height: 100% !important;
    min-height: 100vh !important;
    background-color: rgb(13, 4, 45);
    color: #655965;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}







