@import './header';
@import './contact';
@import './home';
@import './about';
@import './portfolio';

.active{
    color:#e211bf !important;
}

.main-content{
    position: relative;
    z-index: 999999999999;
    width: 100% !important;
    height: 100% !important;
    min-height: 100vh !important;
    background-color: rgb(58, 60, 61);
    color: #655965;
}







