@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
.issticky {
  position: fixed !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999 !important;
  background-color: #1e1760;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.header {
  position: relative;
  z-index: 4;
}

.navbar {
  background-color: transparent !important;
  color: black !important;
}

.navbar .navbar-brand {
  font-size: 50px;
  font-style: italic;
  font-family: 'Fleur De Leah', cursive;
  font-weight: 600;
}

.navbar .navbar-brand span:nth-child(1) {
  color: #741aac;
}

.navbar .navbar-brand span:nth-child(2) {
  color: #dfc4e6;
}

.navbar .navbar-toggler {
  color: #3aadff !important;
  background-color: white !important;
}

.navbar .nav-item {
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 20px;
  font-family: 'Raleway', sans-serif;
}

.navbar .nav-item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  -webkit-transition: width 0.7s ease, background-color 0.5s ease;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navbar .nav-item:hover:after {
  width: 100%;
  background: #d62ad9;
}

.navbar .nav-item .nav-link {
  color: antiquewhite;
}

.contact-page {
  position: relative !important;
  z-index: 15 !important;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page .head-part {
  font-family: 'Raleway',sans-serif;
  margin-bottom: 40px;
}

.contact-page .head-part h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #741aac;
}

.contact-page .head-part h1 span {
  color: antiquewhite;
}

.contact-page .head-part h3 {
  color: azure;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: lowercase;
}

.contact-page .left-info {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 15px;
}

.contact-page .left-info h3 {
  color: #b3b1b1;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Raleway',sans-serif;
}

.contact-page .left-info p {
  color: white;
}

.contact-page .left-info p i {
  color: #741aac;
}

.contact-page .left-info .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page .left-info .social-icon a {
  text-decoration: none;
}

.contact-page .left-info .social-icon i {
  color: white;
  border-radius: 100%;
  border: 1px solid #741aac;
  margin-right: 20px;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 2s all;
  transition: 2s all;
}

.contact-page .left-info .social-icon i:hover {
  background-color: #741aac;
  border-color: white;
  -webkit-box-shadow: 0 0 3px white, 0 0 6px white, 0 0 9px white, 0 0 12px white;
          box-shadow: 0 0 3px white, 0 0 6px white, 0 0 9px white, 0 0 12px white;
  -webkit-transition: 2s all;
  transition: 2s all;
}

.contact-page .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.contact-page .form-group i {
  color: #eee;
  position: absolute;
  left: 36px;
  top: 15px;
  font-size: 16px;
}

.contact-page .form-group input {
  background: #6c6767;
  border: 1px solid #444;
  color: #fff;
  height: 46px;
  padding-left: 49px;
  border-radius: 30px;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 14px;
  text-transform: uppercase;
}

.contact-page .form-group input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group input:focus {
  background-color: #444;
  border-color: #eee;
}

.contact-page .form-group textarea {
  height: 150px;
  padding: 12px 0 15px 49px;
  background: #6c6767;
  border: 1px solid #444;
  color: #fff;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
}

.contact-page .form-group textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group textarea::placeholder {
  color: #fff;
  opacity: 0.5;
}

.contact-page .form-group textarea:focus {
  background-color: #444;
  border-color: #eee;
}

.contact-page .submit-form button {
  background-color: #741aac;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 26px;
  font-weight: 500;
  height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 33px;
  outline: none !important;
  overflow: hidden;
  position: relative;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
  border: 0;
  text-align: center;
}

.contact-page .submit-form button:hover {
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contact-page .submit-form button:hover::before {
  width: 180%;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contact-page .submit-form button::before {
  position: absolute;
  content: "";
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  background-color: #555;
  -webkit-transform: skew(-22deg);
          transform: skew(-22deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}

.contact-page .submit-form button i {
  padding-right: 11px;
}

.home-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  min-height: 80vh;
}

.home-page .row {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.home-page .image-part {
  margin-bottom: 20px;
}

.home-page .image-part .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 0 70px 0 70px;
  border-left: none;
  border-right: none;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
}

.home-page .image-part .image img {
  width: 100%;
  border-radius: 0 70px 0 70px;
  border: 5px solid #bc18d9;
  border-left: none;
  border-right: none;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: myfirst 5s linear 2s infinite alternate;
          animation: myfirst 5s linear 2s infinite alternate;
}

@-webkit-keyframes myfirst {
  0% {
    border-color: #e23cff;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: #e211bf;
  }
}

@keyframes myfirst {
  0% {
    border-color: #e23cff;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: #e211bf;
  }
}

.home-page .info-part {
  color: white;
  font-family: 'Raleway',sans-serif;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  height: 100%;
  padding: 15px;
}

.home-page .info-part p {
  margin-bottom: 20px;
}

.home-page .info-part .button-part button {
  border-radius: 30px;
  border: 1px solid #741aac;
  font-size: 1.2rem;
  margin-right: 50px;
  padding: 10px 25px;
  background: none;
  outline: none;
  color: #741aac;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.home-page .info-part .button-part button:hover {
  background-color: #741aac;
  border-color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
  color: white;
}

.home-page .info-part .button-part .one-btn {
  color: white;
  margin-bottom: 20px;
  background-color: #741aac;
  border-color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.home-page .info-part .button-part .one-btn:hover {
  background-color: #444 !important;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.about-page {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-page .head-part {
  font-family: 'Raleway',sans-serif;
}

.about-page .head-part h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #741aac;
  margin-bottom: 15px;
}

.about-page .head-part h1 span {
  color: antiquewhite;
}

.about-page .head-part h3 {
  color: azure;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: lowercase;
  margin-bottom: 15px;
}

.about-page .image-part {
  margin-bottom: 20px;
}

.about-page .image-part .image {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 32% 68% 22% 78% / 56% 34% 66% 44%;
  border: 5px solid #741aac;
  padding: 30px;
  -webkit-animation: about2 5s ease 0s infinite normal running;
          animation: about2 5s ease 0s infinite normal running;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.about-page .image-part .image img {
  width: 100%;
  border-radius: 67% 33% 57% 43% / 55% 64% 36% 45%;
  border: 5px solid #741aac;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: about 5s ease 0s infinite normal running;
          animation: about 5s ease 0s infinite normal running;
}

.about-page .image-part .image img:hover {
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

@-webkit-keyframes about {
  0% {
    -webkit-transform: rotate(0deg) translate(-3px, -3px);
            transform: rotate(0deg) translate(-3px, -3px);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(2px, 2px);
            transform: rotate(0deg) translate(2px, 2px);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-3px, -3px);
            transform: rotate(0deg) translate(-3px, -3px);
  }
}

@keyframes about {
  0% {
    -webkit-transform: rotate(0deg) translate(-3px, -3px);
            transform: rotate(0deg) translate(-3px, -3px);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(2px, 2px);
            transform: rotate(0deg) translate(2px, 2px);
  }
  to {
    -webkit-transform: rotate(0deg) translate(-3px, -3px);
            transform: rotate(0deg) translate(-3px, -3px);
  }
}

@-webkit-keyframes about2 {
  0% {
    -webkit-transform: rotate(2deg) translate(2px, 2px);
            transform: rotate(2deg) translate(2px, 2px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translate(-2px, -2px);
            transform: rotate(-2deg) translate(-2px, -2px);
  }
  to {
    -webkit-transform: rotate(2deg) translate(2px, 2px);
            transform: rotate(2deg) translate(2px, 2px);
  }
}

@keyframes about2 {
  0% {
    -webkit-transform: rotate(2deg) translate(2px, 2px);
            transform: rotate(2deg) translate(2px, 2px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translate(-2px, -2px);
            transform: rotate(-2deg) translate(-2px, -2px);
  }
  to {
    -webkit-transform: rotate(2deg) translate(2px, 2px);
            transform: rotate(2deg) translate(2px, 2px);
  }
}

.about-page .right-part {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 5px;
  color: white;
}

.about-page .right-part .list-one ul, .about-page .right-part .list-two ul {
  list-style: none;
  font-size: 1rem;
  padding: 0;
}

.about-page .right-part .list-one ul li, .about-page .right-part .list-two ul li {
  padding-bottom: 20px;
  font-family: 'Raleway',sans-serif;
}

.about-page .right-part .list-one ul li span, .about-page .right-part .list-two ul li span {
  color: #741aac;
  margin-right: 5px;
  font-weight: 600;
}

.about-page .right-part .list-one ul li a, .about-page .right-part .list-two ul li a {
  text-decoration: none;
  color: white;
}

.about-page .cv {
  border: 2px solid #741aac;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 30px;
  padding: 15px 30px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.about-page .cv:hover {
  background-color: #741aac;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.about-page .cv a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.about-page .cv a i {
  margin-right: 5px;
}

.portfolio-page {
  position: relative;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-page .head-part {
  font-family: 'Raleway',sans-serif;
  margin-bottom: 40px;
}

.portfolio-page .head-part h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: antiquewhite;
}

.portfolio-page .head-part h1 span {
  color: #741aac;
}

.portfolio-page .button-parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-page .button-parts button {
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  border: 1px solid #741aac;
  border-radius: 0px;
  background-color: transparent;
  padding: 5px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  -webkit-transition: all 2s;
  transition: all 2s;
  margin: 5px;
  letter-spacing: 1px;
}

.portfolio-page .button-parts button:hover {
  background-color: #741aac;
  color: #000;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.portfolio-page .button-parts .active-tabs {
  background-color: #741aac;
  color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.portfolio-page .content-parts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio-page .content {
  display: none;
}

.portfolio-page .active-content {
  display: block;
}

.portfolio-page .image-portfolio {
  margin: 15px;
  outline: 2px solid #741aac;
  padding: 10px;
}

.portfolio-page .image-portfolio:hover h1 {
  opacity: 1 !important;
}

.portfolio-page .image-portfolio h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 1;
  border: 1px solid;
  font-size: 2rem;
  text-transform: uppercase;
  color: #f3ede7 !important;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-backdrop-filter: brightness(30%);
          backdrop-filter: brightness(30%);
  font-weight: 600;
}

.portfolio-page .image-portfolio .image {
  position: relative;
  height: 300px;
  width: 100%;
  border: 1px solid #741aac;
  overflow: hidden;
}

.portfolio-page .image-portfolio .image a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.portfolio-page .image-portfolio .image a img {
  width: 100%;
  height: 100%;
  border: 1px solid #741aac;
}

@media only screen and (max-width: 768px) {
  .portfolio-page .image {
    height: 250px !important;
  }
}

.active {
  color: #e211bf !important;
}

.main-content {
  position: relative;
  z-index: 1111;
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh !important;
  background-color: #0d042d;
  color: #655965;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=style.css.map */